# Editor backup files
*~
*.swp
*.swo
*.bak

# KDE directory view info
.directory

# Eclipse project files
.project
.cproject

# Build artefacts
# - from kernel building
*.cmd
*.ko
*.o
*.rules
*.mod.c
modules.order
Module.symvers
.tmp_versions

# - from userspace
*.a
*.so
*.class
*.jar
*.pyc
